body{  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: white;  
  }  
  .container {  
      padding: 50px;  
    background-color: lightblue;  
  }  
    
  input[type=text] {  
    width: 100%;  
    padding: 15px;  
    margin: 5px 0 22px 0;  
    display: inline-block;  
    border: none;  
    background: #f1f1f1;  
  }  

  div {  
      padding: 10px 0;  
   }  
  hr {  
    border: 1px solid #f1f1f1;  
    margin-bottom: 25px;  
  }  
   
  nav {
    background-color: navy;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
nav a{
    display: block;
font-size: 50px;
padding: 10px;
text-decoration: none;
font-family: sans-serif;
color: white;
}
.Header img{
  margin-top: 100px;
}